header {
    padding: 18%, 6%;
    
}
nav {
    .center();
    padding-bottom: 2%;
    a {
        width: 19rem;
        font-size: 3.2rem;
        font-weight: 200px;
        color:grey;
        text-decoration: none;
        font-family: calibri;
        .center();
    }
    a:hover {
        color: rgb(39, 38, 38);
        font-weight: bold;
        }
}
